.btn{
	padding: 10px 20px;
    text-align: center;
    @include font-line(13,16);
    color: $white;
    border-radius: 11px;
    background-color: $green;
    &__submit{
        @extend  .btn;
        @include font-line(12,14);
    }
}
.slide__arrow{
	margin: auto 0px;
    padding: 0px !important;
    & img{
        width: auto;
    }
}

.input{
	&__bg{
		&--gray{
			background-color: $gray-bg-input;
			border-radius: 11px;
			line-height: 35px;
            @extend .width--full;
            @extend .mrb-10;
            &::placeholder {
                color:$gray;
                @include font-line(13,16);
                @extend .pdl-10; 
            }
        }
    }
}

.textarea{
    &__bg{
        &--gray{
            @extend .input__bg--gray ;
            &::placeholder {
                @extend .pdt-10; 
            }
        }
    }
}