.menu{
	margin: auto;
	padding: 0px;
	& a:hover{
		border-radius: 11px;
		background-color: $green;
		color: $white;
	}
& a {
	display: inline-block;
	@include font-line(13,16);
	padding: 10px 15px;
	text-align: center;
}
}
@include mediaSm {
@include menu-drop;
}

@include mediaMd {
@include menu-drop;
}