.slide{
	display: flex;
	padding: {
		bottom: 50px;
		top: 50px;
	}
	&__title{
		font-size: 46px;
		line-height: 46px;
		color: $white;
	}
	&__text{
		margin:auto 0px;
	}
	&__content{
		padding: {
			top: 30px;
			bottom: 20px;
		}
		display: block;
		font-size: 12px;
		line-height: 19px;
		color: $gray;
	}
}

.slide__image{
	border: 25px $gray-border solid;
	max-width: 430px;
	max-height: 430px;
	border-radius: 215px;
	margin:auto;
	padding: 0px;
}