@for $i from 5 through 100 {
  @if $i%5 {
    .pdr-#{$i} {
      padding-right: #{$i}px !important;
    }
    .pdt-#{$i} {
      padding-top: #{$i}px !important;
    }
    .pdl-#{$i} {
      padding-left: #{$i}px !important;
    }
    .pdb-#{$i} {
      padding-bottom: #{$i}px !important;
    }

    .mrt-#{$i} {
      margin-top: #{$i}px !important;
    }
    .mrb-#{$i} {
      margin-bottom: #{$i}px !important;
    }
  }
}

.pd-0{
  padding: 0px !important;
}
.row {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}


%grid-column {
  position: relative;
  width: 100%;
  padding-left: 15px;
  padding-right: 15px;
}


@for $i from 1 through $columns {
  .col-#{$i}, .col-sm-#{$i}, .col-md-#{$i}, .col-lg-#{$i} {
    @extend %grid-column;
  }
  .col-#{$i} {
    flex: 0 0 column-width($i,$columns);
    max-width: column-width($i,$columns);
  }
}

.d{
  &-none{
    display: none;
  }
  &-block{
    display: block;
  }
}
.width{
  &--full {
    width: 100%;
  }
  &--auto{
    width: auto;
  }
}
.container {
  width: 100%;
  margin:{
    right: auto;
    left: auto;
  }
}
@each $name, $rgb in $colors {
  .color--#{$name} {
    color:#{$rgb};
  }
}
@each $location in $locations {
  .text--#{$location} {
    text-align: #{$location} !important;
  }
}