@for $i from 5 through 50 {

  .pdr-#{$i} {
    @if $i%5 {padding-right: #{$i}px !important;}
  }
}
@for $i from 5 through 50 {

  .pdt-#{$i} {
    @if $i%5 {padding-top: #{$i}px !important;}
  }
}
@for $i from 5 through 50 {

  .pdl-#{$i} {
    @if $i%5 {padding-left: #{$i}px !important;}
  }
}
@for $i from 5 through 50 {

  .pdb-#{$i} {
    @if $i%5 {padding-bottom: #{$i}px !important;}
  }
}
@for $i from 5 through 60 {

  .mrt-#{$i} {
    @if $i%5 {margin-top: #{$i}px !important;}
  }
}
@for $i from 5 through 60 {

  .mrb-#{$i} {
    @if $i%5 {margin-bottom: #{$i}px !important;}
  }
}
.pd-0{
  padding: 0px !important;
}
.row {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}


%grid-column {
  position: relative;
  width: 100%;
  padding-left: 15px;
  padding-right: 15px;
}


@for $i from 1 through $columns {
  .col-#{$i}, .col-sm-#{$i}, .col-md-#{$i}, .col-lg-#{$i} {
    @extend %grid-column;
  }
}

@for $i from 1 through $columns {
  .col-#{$i} {
    flex: 0 0 column-width($i,$columns);
    max-width: column-width($i,$columns);
  }
}
.d{
  &-none{
    display: none;
  }
  &-block{
    display: block;
  }
}
.width{
  &--full {
    width: 100%;
  }
  &--auto{
    width: auto;
  }
}
.container {
  width: 100%;
  margin:{
    right: auto;
    left: auto;
  }
}
@each $name, $rgb in $colors {
  .color--#{$name} {
    color:#{$rgb};
  }
}
@each $location in $locations {
  .text--#{$location} {
    text-align: #{$location} !important;
  }
}