
.article{
	background-color: $white;
	text-align: center;
	padding: 15px 25px 25px 25px;
	&__title{
		@include font-line(32,32);
		color: $gray-dark;
	}
	&__content{
		@include font-line(12,17);
		color: $gray;
	}
	&__image{
		padding: 10px 25px;
	}
	&:hover{
		background-color: $green;
		.article__content, .article__title {
			color:$white;
		}
	}
}

.meet{
	&__title{
		@include font-line(32,38);
		color: $white;
		border-radius: 11px;
		background-color: $gray-dark;
		padding: 10px;
	}
}

.image__show{
	&--border{
		border: 5px $white solid;
		&:hover{
		border: 5px $green solid;
		}
	}
	&--text{
		@include font-line(14,17);
		color: $white;
	}
	&--none{
		@extend .d-none;
	}

}