.footer{
	background-color: $gray-footer;
	&__title{
		@include font-line(16,19);
		@extend .pdt-20;
		color: $white;
		&--green{
			@include font-line(13,16);
			@extend.color--green;
		}
	}
	&__info{
		@include font-line(10,12);
		@extend.color--gray;
	}
	&__content{
		@include font-line(13,21);
		@extend.color--gray;
	}
}
.quick__link{
	@include font-line(13,34);
	@extend .color--green;
	&--border{
		border-bottom: 1px $gray-border-footer solid;
		line-height: 30px;
	}
}

.copyright{
	@include font-line(13,13);
	background-color: $copyright-bg;
}