@mixin mediaSm {
	@media screen and (max-width:480px) {
		@content; 
	}
}

@mixin mediaMd {
	@media screen and (min-width:481px) and (max-width:1024px) {
		@content; 
	}
}

@mixin mediaLg {
	@media screen and (min-width: 1025px) {
		@content; 
	}
}
@mixin font-line($font,$line) {
	font-size: #{$font}px;
	line-height: #{$line}px;
}
@mixin menu-drop {
	.dropdown {
		position: relative;
		display: inline-block;
	}

	.dropdown-content {
		right: 0px;
		position: absolute;
		background-color: $white;
		text-align: center;
		min-width: 160px;
		box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
		padding: 12px 16px;
		z-index: 1;
	}
	.dropdown:hover .dropdown-content {
		display: block;
	}
}

@function column-width($i,$columns) {  
	$result:($i/$columns)*100%;
	@return $result;
}