
$red: rgb(102, 0, 0);
$red-dark: rgb(41, 0, 0);
$green:#76c38f;
$white: #fff;
$gray: #979797;
$gray-dark: #333333;
$gray-border:#6b6b6b ;
$gray-footer:#303030;
$gray-border-footer:#404040;
$gray-bg-input:#222222;
$copyright-bg:#2b2b2b;

$columns:12;