$font: 'Montserrat',
sans-serif;
$normal: 400;
$bold: 700;
$extra-bold: 900;
$max-width: 1172px;
$content-width: 1108px;
$link-color: rgb(249, 35, 111);
$link-transition: all 0.4s ease;
$white: #fff;
$black: #000;
$bottom-border: thin solid rgb(194, 194, 194);
$path--rel: "../images";